.container{
    margin: 50px 0;
}

.card{
    margin: 0 2% !important;
}
.color{
    background: rgb(108, 172, 87);
}
.color1{
    background: rgb(78, 90, 155);
}
.color2{
    background: rgb(139, 63, 88);
}

.infected{
    border: 5px solid rgba(10, 73, 146, 0.8);
}

.recovered{
    border: 5px solid rgba(6, 71, 6, 0.8);
}

.deaths{
    border: 5px solid rgba(145, 13, 13, 0.809);
}

@media (max-width: 770px){
    .card{
        margin: 2% 0 !important;
    }
}